
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">  
  <div id="formContent">
    <!-- Tabs Titles -->

     <!-- Icon -->
     <div class="fadeIn first">
      <br>
      <h1>{{title}}</h1>
      <br>
    </div>

    <div class="alert alert-success" *ngIf="status == 'success'">
      Login Correcto
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
      No Te Has Logueado Correctamente
    </div>

    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <input type="email" id="login" class="fadeIn second" name="email" placeholder="Correo Electronico" #email="ngModel" [(ngModel)]="user.email">
      <span *ngIf="!email.valid && email.touched">
        EL email es obligatorio
      </span> 
      <input type="password" id="password" class="fadeIn third" name="login" #password="ngModel" [(ngModel)]="user.password"
      placeholder="Contraseña">
      <input type="submit" class="fadeIn fourth" value="Login">
      <span *ngIf="!password.valid && password.touched">
        La contraseña es obligatoria
      </span>    
      </form>
      

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
    

  </div>
  
</div>
