<!--Panel De Administrador-->

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto  col-md-3 col-xl-3 px-sm-1 px-0 bg-gray">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-3 text-white min-vh-10">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline"><h3>{{title}}</h3></span>
                </a>                
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <a [routerLink]="['Lista']">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">
                            Listado</span></a>
                        </a>
                    
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <a [routerLink]="['Agregar']">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">
                            Añadir</span></a>
                        </a>
                    </li>


            
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



